#bad-route-page h1{
    font-size: 80px;
    color: rgb(51,86,129);
    float: left;
}
#bad-route-page h2{
    font-size: 34px;
    color: rgb(51,86,129);
    float: left;
    margin-left: 20px;
    padding-top: 42px;
}
#wanted-image{
    margin: 40px auto -20px auto;
    width: 301px;
    height: 271px;
    display: block;
}