#oiseau-anime{
	background: transparent url(../images/oiseau.png) left top no-repeat;
	width: 73px;
	height: 84px;
	position: absolute;
	
	bottom: -5px;
	left: 0;
	z-index: 999;
}
.bird-eye{
	position: absolute;
	top: 30px;
}
#right-eye{
	right: 15px;
	
	animation: birdEyeRight 6s;
	animation-iteration-count: infinite;
	-moz-animation: birdEyeRight 6s;
	-moz-animation-iteration-count: infinite;
	-webkit-animation: birdEyeRight 6s;
	-webkit-animation-iteration-count: infinite;
	-o-animation: birdEyeRight 6s;
	-o-animation-iteration-count: infinite;
}
#left-eye{
	left: 10px;

	animation: birdEyeLeft 6s;
	animation-iteration-count: infinite;
	-moz-animation: birdEyeLeft 6s;
	-moz-animation-iteration-count: infinite;
	-webkit-animation: birdEyeLeft 6s;
	-webkit-animation-iteration-count: infinite;
	-o-animation: birdEyeLeft 6s;
	-o-animation-iteration-count: infinite;
}

/** EYE **/
@keyframes birdEyeLeft
{
	0%   {top: 30px;left:10px;}
	10%  {top: 30px;left:10px;}
	20%  {top: 40px;left:15px;}
	40%  {top: 40px;left:15px;}
	50%  {top: 40px;left:10px;}
	60%  {top: 40px;left:10px;}
	80%  {top: 35px;left:18px;}
	90%  {top: 35px;left:18px;}
	100% {top: 30px;left:10px;}
}

@-moz-keyframes birdEyeLeft
{
	0%   {top: 30px;left:10px;}
	10%  {top: 30px;left:10px;}
	20%  {top: 40px;left:15px;}
	40%  {top: 40px;left:15px;}
	50%  {top: 40px;left:10px;}
	60%  {top: 40px;left:10px;}
	80%  {top: 35px;left:18px;}
	90%  {top: 35px;left:18px;}
	100% {top: 30px;left:10px;}
}

@-webkit-keyframes birdEyeLeft
{
	0%   {top: 30px;left:10px;}
	10%  {top: 30px;left:10px;}
	20%  {top: 40px;left:15px;}
	40%  {top: 40px;left:15px;}
	50%  {top: 40px;left:10px;}
	60%  {top: 40px;left:10px;}
	80%  {top: 35px;left:18px;}
	90%  {top: 35px;left:18px;}
	100% {top: 30px;left:10px;}
}

@-o-keyframes birdEyeLeft
{
	0%   {top: 30px;left:10px;}
	10%  {top: 30px;left:10px;}
	20%  {top: 40px;left:15px;}
	40%  {top: 40px;left:15px;}
	50%  {top: 40px;left:10px;}
	60%  {top: 40px;left:10px;}
	80%  {top: 35px;left:18px;}
	90%  {top: 35px;left:18px;}
	100% {top: 30px;left:10px;}
}
/* right */
@keyframes birdEyeRight
{
	0%   {top: 30px;right:13px;}
	10%  {top: 30px;right:13px;}
	20%  {top: 40px;right:15px;}
	40%  {top: 40px;right:15px;}
	50%  {top: 40px;right:18px;}
	60%  {top: 40px;right:18px;}
	80%  {top: 35px;right:8px;}
	90%  {top: 35px;right:8px;}
	100% {top: 30px;right:13px;}
}

@-moz-keyframes birdEyeRight
{
	0%   {top: 30px;right:13px;}
	10%  {top: 30px;right:13px;}
	20%  {top: 40px;right:15px;}
	40%  {top: 40px;right:15px;}
	50%  {top: 40px;right:18px;}
	60%  {top: 40px;right:18px;}
	80%  {top: 35px;right:8px;}
	90%  {top: 35px;right:8px;}
	100% {top: 30px;right:13px;}
}

@-webkit-keyframes birdEyeRight
{
	0%   {top: 30px;right:13px;}
	10%  {top: 30px;right:13px;}
	20%  {top: 40px;right:15px;}
	40%  {top: 40px;right:15px;}
	50%  {top: 40px;right:18px;}
	60%  {top: 40px;right:18px;}
	80%  {top: 35px;right:8px;}
	90%  {top: 35px;right:8px;}
	100% {top: 30px;right:13px;}
}

@-o-keyframes birdEyeRight
{
	0%   {top: 30px;right:13px;}
	10%  {top: 30px;right:13px;}
	20%  {top: 40px;right:15px;}
	40%  {top: 40px;right:15px;}
	50%  {top: 40px;right:18px;}
	60%  {top: 40px;right:18px;}
	80%  {top: 35px;right:8px;}
	90%  {top: 35px;right:8px;}
	100% {top: 30px;right:13px;}
}