#oiseau-anime{
	background: transparent url(../images/oiseau.png) left top no-repeat;
	width: 73px;
	height: 84px;
	position: absolute;
	
	bottom: -1px;
	left: 0;
	z-index: 999;
}
#oiseau-volant{
	animation: birdFall 4s;
	animation-iteration-count: 1;
	-moz-animation: birdFall 4s;
	-moz-animation-iteration-count: 1;
	-webkit-animation: birdFall 4s;
	-webkit-animation-iteration-count: 1;
	-o-animation: birdFall 4s;
	-o-animation-iteration-count: 1;
}
.bird-eye{
	position: absolute;
	top: 30px;
}
#right-eye{
	right: 15px;
	
	animation: birdEyeRight 4s;
	animation-iteration-count: infinite;
	-moz-animation: birdEyeRight 4s;
	-moz-animation-iteration-count: infinite;
	-webkit-animation: birdEyeRight 4s;
	-webkit-animation-iteration-count: infinite;
	-o-animation: birdEyeRight 4s;
	-o-animation-iteration-count: infinite;
}
#left-eye{
	left: 10px;

	animation: birdEyeLeft 4s;
	animation-iteration-count: infinite;
	-moz-animation: birdEyeLeft 4s;
	-moz-animation-iteration-count: infinite;
	-webkit-animation: birdEyeLeft 4s;
	-webkit-animation-iteration-count: infinite;
	-o-animation: birdEyeLeft 4s;
	-o-animation-iteration-count: infinite;
	    
}
/** FALL **/
@-webkit-keyframes birdFall
{
	0%  {
		top: 0;left:0;
		-webkit-transform: rotate(50deg);
		-webkit-animation-timing-function: linear;
	    }
	10% {
		top: 25px;left:50px;
		-webkit-transform: rotate(100deg);
		-webkit-animation-timing-function: linear;
	    }
	20% {
		top: 50px;left:100px;
		-webkit-transform: rotate(150deg);
		-webkit-animation-timing-function: linear;
	    }
	40% {
		top: 75px;left:150px;
		-webkit-transform: rotate(200deg);
		-webkit-animation-timing-function: linear;
	    }
	50% {
		top: 100px;left:200px;
		-webkit-transform: rotate(250deg);
		-webkit-animation-timing-function: linear;
	    }
	60% {
		top: 125px;left:250px;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
	    }
	80% {
		top: 150px;left:300px;
		-webkit-transform: rotate(350deg);
		-webkit-animation-timing-function: linear;
	    }
	90% {
		top: 175px;left:350px;
		-webkit-transform: rotate(400deg);
		-webkit-animation-timing-function: linear;
	    }
	100%{
		top: 200px;left:400px;
		-webkit-transform: rotate(450deg);
		-webkit-animation-timing-function: linear;
	    } 
}
/** EYE **/
@keyframes birdEyeLeft
{
	0%   {top: 30px;left:10px;}
	10%  {top: 30px;left:10px;}
	20%  {top: 40px;left:15px;}
	40%  {top: 40px;left:15px;}
	50%  {top: 40px;left:10px;}
	60%  {top: 40px;left:10px;}
	80%  {top: 35px;left:18px;}
	90%  {top: 35px;left:18px;}
	100% {top: 30px;left:10px;}
}

@-moz-keyframes birdEyeLeft
{
	0%   {top: 30px;left:10px;}
	10%  {top: 30px;left:10px;}
	20%  {top: 40px;left:15px;}
	40%  {top: 40px;left:15px;}
	50%  {top: 40px;left:10px;}
	60%  {top: 40px;left:10px;}
	80%  {top: 35px;left:18px;}
	90%  {top: 35px;left:18px;}
	100% {top: 30px;left:10px;}
}

@-webkit-keyframes birdEyeLeft
{
	0%   {top: 30px;left:10px;}
	10%  {top: 30px;left:10px;}
	20%  {top: 40px;left:15px;}
	40%  {top: 40px;left:15px;}
	50%  {top: 40px;left:10px;}
	60%  {top: 40px;left:10px;}
	80%  {top: 35px;left:18px;}
	90%  {top: 35px;left:18px;}
	100% {top: 30px;left:10px;}
}

@-o-keyframes birdEyeLeft
{
	0%   {top: 30px;left:10px;}
	10%  {top: 30px;left:10px;}
	20%  {top: 40px;left:15px;}
	40%  {top: 40px;left:15px;}
	50%  {top: 40px;left:10px;}
	60%  {top: 40px;left:10px;}
	80%  {top: 35px;left:18px;}
	90%  {top: 35px;left:18px;}
	100% {top: 30px;left:10px;}
}
/* right */
@keyframes birdEyeRight
{
	0%   {top: 30px;right:13px;}
	10%  {top: 30px;right:13px;}
	20%  {top: 40px;right:15px;}
	40%  {top: 40px;right:15px;}
	50%  {top: 40px;right:18px;}
	60%  {top: 40px;right:18px;}
	80%  {top: 35px;right:8px;}
	90%  {top: 35px;right:8px;}
	100% {top: 30px;right:13px;}
}

@-moz-keyframes birdEyeRight
{
	0%   {top: 30px;right:13px;}
	10%  {top: 30px;right:13px;}
	20%  {top: 40px;right:15px;}
	40%  {top: 40px;right:15px;}
	50%  {top: 40px;right:18px;}
	60%  {top: 40px;right:18px;}
	80%  {top: 35px;right:8px;}
	90%  {top: 35px;right:8px;}
	100% {top: 30px;right:13px;}
}

@-webkit-keyframes birdEyeRight
{
	0%   {top: 30px;right:13px;}
	10%  {top: 30px;right:13px;}
	20%  {top: 40px;right:15px;}
	40%  {top: 40px;right:15px;}
	50%  {top: 40px;right:18px;}
	60%  {top: 40px;right:18px;}
	80%  {top: 35px;right:8px;}
	90%  {top: 35px;right:8px;}
	100% {top: 30px;right:13px;}
}

@-o-keyframes birdEyeRight
{
	0%   {top: 30px;right:13px;}
	10%  {top: 30px;right:13px;}
	20%  {top: 40px;right:15px;}
	40%  {top: 40px;right:15px;}
	50%  {top: 40px;right:18px;}
	60%  {top: 40px;right:18px;}
	80%  {top: 35px;right:8px;}
	90%  {top: 35px;right:8px;}
	100% {top: 30px;right:13px;}
}