#article-page .border-title{
    height: auto;
    background: transparent url(../images/border.png) left 18px repeat-x;
}
#article-page .left-title{
    font-size: 34px;
    height: auto;
    padding-top: 0;
    color: rgb(51,86,129);
}
#article-page .date{
    font-size: 16px;
}