#categories-page .article-content h2{
    font-size: 24px;
}
#categories-page aside{
    padding: 10px 0 !important;
    float: right;
}
#categories-page .maxSize{
    width: 100%;
    margin-right: 10px;
    padding: 10px 0;
    background: #fff url(../images/category-background-bigger.png) center center;
    color: #fff;
}
#categories-page .maxSize a{
    color: #fff;
}
#categories-page .maxSize .article-content h2{
    margin: 20px 0 30px 0;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0 1px 0px rgba(0,0,0,0.6);
}
#categories-page .more-container{
    background: transparent;
}
#categories-page .one-article .article-category{
    margin-left: -9px;
}
#categories-page .one-article .article-content {
    width: auto;
    max-width: 635px;
}
#categories-page .one-article .hover-article {
    width: 100%;
}
.one-article .hover-article .left-hover, .one-article .hover-article .right-hover{
    width: 492px;
}
.one-article .hover-article .left-hover{
    left: -492px;
}
.one-article .hover-article .right-hover{
    right: -492px;
}