#category-page .left-title{
    font-size: 34px;
    height: auto;
    padding-top: 0;
    color: rgb(51,86,129);
}

#category-page .category-image{
    float: left;
    width: 339px;
    height: 216px;
    text-align: center;
    
    margin-top: 20px;
}
#category-page .category-content{
    margin-top: 20px;
    position: relative;
    float:left;
}
#category-page .category-content p{
    margin-bottom: 20px;
}
#category-page aside{
    float: right;
    padding: 13px 0;
}
#category-page .border-title{
    background: transparent url(../images/border.png) left 11px repeat-x;
}
#category-page .aside-box{
    padding: 5px;
}
#category-page .aside-box h4{
    text-align: center;
    margin: 20px 0;
    font-family: Ubuntu-c;
    color: #335681;
}
.image-container{
    width: 288px;
    text-align: center;
}
.content-container h2{
    font-size: 24px;
    height: auto;
    padding-top: 0;
    color: rgb(51,86,129);
}