#contact-page label.label {
	display: block;
	float: left;
	width: 200px;
	height: 30px;
	padding-top: 10px;
}

#contact-page div.marginAuto {
	margin-top: 20px;
	margin-left: 200px;
}
#contact-page .input-contact {
	width: 400px;
}
#contact-page textarea.textarea {
	width: 500px;
	max-width: 500px;
}
