#profil-page > .middle-column > .border-title{
    height: auto;
    background: transparent url(../images/border.png) left 18px repeat-x;
    width: 100%;
}
#profil-page > .middle-column > .border-title > .left-title{
    font-size: 34px;
    height: auto;
    padding-top: 0;
    color: rgb(51,86,129);
}
#profil-page #explanation-text-page{

    margin: 20px 0 30px 0;
}
#oiseau-congrats{
    background: transparent url(../images/oiseau-modele.png) center center no-repeat;
    width: 73px;
    height: 94px;
}