/* FONT FAMILY LINKAGE */
@font-face
{
    font-family: "Segoe UI";
    src: url("Segoe UI.ttf");
}
@font-face
{
    font-family: "Lucida Grande";
    src: url("Lucida Grande.ttf");
}
@font-face
{
    font-family: "Ubuntu-C";
    src: url("Ubuntu-C.ttf");
}
@font-face
{
    font-family: "Wisdom Script";
    src: url("Wisdom Script.otf");
}

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}
input::-webkit-input-placeholder {
    font-size: 12px;
    color: #bbb;
    font-family: 'Segoe UI', tahoma, verdana, arial;
}
input:-moz-placeholder {
    font-size: 12px;
    color: #bbb;
    font-family: 'Segoe UI', tahoma, verdana, arial;
}

/* Our Css */
body {
    font-size: 100%;
    font-family: 'Ubuntu-C', arial, sans-serif; 
    
    background: #edefed;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Segoe UI','Lucida Grande', tahoma, verdana, arial, sans-serif; 
}
h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}
a:link, a:visited { color: #777; text-decoration: none; }
a:hover { text-decoration: none; }

.cl{
	clear: both;
}
.left{
	float: left;
}
.right{
	float: right;
}
.middle-title{
	text-align: center;
	height: 24px;
	width: 450px;
	margin: auto;
	
	font-size: 18px;
	color: black;
	background-color: rgb(237,235,235);
}
.right-title{
	float: right;
	height: 24px;
	width: auto;
	font-size: 18px;
	padding-left: 20px;
	color: black;
	background-color: rgb(237,235,235);
}
.left-title{
	float: left;
	height: 20px;
	width: auto;
	font-size: 14px;
	padding-right: 10px;
	padding-top: 3px;
	color: black;
	background-color: #fff;
}
.border-title{
	width: 100%;
	height: 30px;
	background: transparent url(../images/border.png) left 9px repeat-x;
	z-index: -1;
}
.button{
	position: absolute;
	bottom: 15px;
	right: 15px;
	
	border: 3px solid rgb(236,235,232);
	
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	
	background-color: rgb(51,86,129);
	padding: 5px;
}

p.comment{
	text-align: right;
}
p.comment a{
	color: #335681;
}
p.show-more{
 	margin: 10px 0;
	font-size: 14px;
}
.date{
	font-style: italic;
	font-size: 12px;
}
/** HEADER **/
header, nav{
	width: 1024px;
	color: rgb(236,235,232);
}
header #top-header{
	width: 100%;
	height: 113px;
	
	font-size: 13px;
	position: relative;
	
	background: transparent url(../images/header-background.png) left top repeat-x;
	
	border-bottom: 1px solid #666;
}
header #top-header #login-box{
	float: left;
	margin: 10px 0 0 20px;
}
header > #top-header 	> #login-box > a {
	color: rgb(236,235,232);
	font-size: 13px;
}

header #top-header .search-flag-container{
	text-align: right;
	margin: 10px 20px 0 0;
}
header #top-header .search-flag-container #flag-box{
	margin-bottom: 15px;
}
header #top-header .search-flag-container #flag-box img{
	width: 18px;
	height: 14px;
	margin-left: 10px;
	vertical-align: middle;
}
header #top-header .search-flag-container #flag-box .flag-caption{
	vertical-align: middle;
	color: rgb(236,235,232);
}

header #top-header #search-box{
	position: relative;
}
header #top-header #search-box .input-template{
	width: 150px;
	height: 24px;
	
	padding-left: 10px;
	padding-top: 0px;
	padding-right: 24px;
	color: #777;
	background-color: #ddd;
	
	border: none;
	
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	-ms-border-radius: 20px;
	
	box-shadow: inset 2px 2px 5px rgba(141,141,141,0.8);
	-webkit-box-shadow: inset 2px 2px 5px rgba(141,141,141,0.8);
	-moz-box-shadow: inset 2px 2px 5px rgba(141,141,141,0.8);
	-o-box-shadow: inset 2px 2px 5px rgba(141,141,141,0.8);
	-ms-box-shadow: inset 2px 2px 5px rgba(141,141,141,0.8);
}
header #top-header #search-box .button-search{
	border: none;
	background: transparent url(../images/loupe.png) center center no-repeat;
	
	width: 19px;
	height: 18px;
	
	padding-left: 5px;
	
	position: absolute;
	right: 5px;
	top: 3px;
	
	cursor: pointer;
}

/** NAV **/
nav{
	height: 51px;
	position: relative;
	background: transparent url(../images/nav-background.png) left top repeat-x;
	
	border-bottom: 1px solid #666;
}
nav ul{
	position: absolute;
	top: 0;
	height: 100%;
}
nav ul#left-nav{
	left: 50px;
}
nav ul#right-nav{
	right: 50px;
}
nav #logo{
	margin: auto;
	width: 195px;
	height: 149px;
}
nav #logo img{
	margin-top: -55px;
	
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	
	transition-property: all;
	transition-duration: 0.5s;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-moz-transition-property: all;
	-moz-transition-duration: 0.5s;
	-o-transition-property: all;
	-o-transition-duration: 0.5s;
}
nav ul > li {
	float:left;
	display: block;
	width: 120px;
	height: 36px;
	
	padding-top: 15px;
	text-align: center;
}
nav ul > li:hover a{
	color: #555 !important;
}
nav ul > li > a{
	color: rgb(236,235,232) !important;
	font-family: "Wisdom Script";
	font-size: 18px;
	
	transition-property: all;
	transition-duration: 0.5s;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-moz-transition-property: all;
	-moz-transition-duration: 0.5s;
	-o-transition-property: all;
	-o-transition-duration: 0.5s;
}
nav ul > li.actif{

}
/** FOOTER **/
footer{
	color: rgb(236,235,232);;
}
footer #top-footer{
	width: 100%;
	height: 167px;
	
	font-size: 13px;
	text-align: center;
	padding-top: 20px;
	
	background: transparent url(../images/header-background.png) left top;
	
	border-bottom: 1px solid #666;
	border-top: 1px solid #999;

}
footer #top-footer .footer-box-container{
	width: 900px;
	margin: auto;
}
footer #top-footer .footer-box{
	width: 300px;
	float: left;
	display: block;
}
footer #top-footer .footer-box h2{
	font-size: 16px;
	height: 30px;
}

footer #top-footer .footer-box a{
	display: block;
	font-size: 14px;
	line-height: 18px;
	
	color: rgb(200,200,200);
}

footer #bottom-footer{
	height: 30px;
	background: transparent url(../images/nav-background.png) left top;
	text-align: center;
	padding-top: 13px;
}
/** CONTENT **/
#global{
	width: 1024px;
	
	background-color: rgb(237,235,235);
	
	margin: auto;
	
	box-shadow: 0 0 5px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.6);
	-o-box-shadow: 0 0 5px rgba(0,0,0,0.6);
	-ms-box-shadow: 0 0 5px rgba(0,0,0,0.6);
}
#home-page{
	margin-top: 50px;
	width: 100%;
}
#home-page #explanation-text{
	padding: 20px;
}
#home-page #explanation-text p{
	color: rgb(106,104,104);
	font-size: 16px;
	margin: 10px 0;
	line-height: 20px;
}


#home-page #categories-box{
	background: transparent url(../images/category-background.png) center center no-repeat;
	height: 219px;
	
	margin-bottom: 20px;
	position: relative;
	
	box-shadow: inset 0 3px 7px rgba(0,0,0,0.6),
				inset 0 -3px 7px rgba(0,0,0,0.6);
	-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,0.6),
				inset 0 -3px 7px rgba(0,0,0,0.6);
	-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,0.6),
				inset 0 -3px 7px rgba(0,0,0,0.6);
	-o-box-shadow: inset 0 3px 7px rgba(0,0,0,0.6),
				inset 0 -3px 7px rgba(0,0,0,0.6);
	-ms-box-shadow: inset 0 3px 7px rgba(0,0,0,0.6),
				inset 0 -3px 7px rgba(0,0,0,0.6);
}
#home-page #categories-box ul#categories-nav{
	height: 100%;
}
#home-page #categories-box ul#categories-nav li{
	float: left;
	display: block;
	height: 189px;
	text-align: center;
	
	width: 160px;
	padding: 30px 5px 0 5px	;
	
	box-shadow: inset 0 0 0 rgba(0,0,0,0);
	-webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
	-moz-box-shadow: inset 0 0 0 rgba(0,0,0,0);
	-o-box-shadow: inset 0 0 0 rgba(0,0,0,0);
	-ms-box-shadow: inset 0 0 0 rgba(0,0,0,0);
	
	transition-property: all;
	transition-duration: 0.5s;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-moz-transition-property: all;
	-moz-transition-duration: 0.5s;
	-o-transition-property: all;
	-o-transition-duration: 0.5s;
}
#home-page #categories-box ul#categories-nav li:hover{	
	box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
	-moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
	-o-box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
	-ms-box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
	
	opacity: 0.8;
}
#home-page #categories-box ul#categories-nav li a{
	display: block;
	width: 100%;
	color: rgb(236,235,232);
	
	margin-bottom: 30px;
}


#home-page #categories-box > div.button > a, #home-page #news-box > div.button > a{
	color: rgb(236,235,232);
}


#home-page #middle-column{
	width: 639px;
	float: left;
	
	padding: 20px;
}
#home-page #middle-column h1.border-until{
	width: 200px;
}
.one-article{
	width: 606px;
	height: 248px;
	
	background: #fff;
	margin-bottom: 30px;
	
	padding: 10px;
	float: right;
}
.one-article .article-content{
	width: 252px;
	margin-left: 10px;
}
.one-article .article-content h2{
	font-size: 18px;
	color: rgb(51,86,129);
	margin-bottom: 5px;
}
.one-article .article-content p.article-caption{
	font-size: 12px;
	font-style: italic;
	margin-bottom: 10px;
}
.one-article .article-content p.article-caption a{
	color: rgb(51,86,129);
	font-weight: bold;
}
.one-article .article-content p.content-introduction{
	text-indent: 10px;
	line-height: 16px;
	font-size: 14px;
}
.one-article .article-content p a img{
	margin-right: 5px;
}
.one-article .article-category{
	width: 131px;
	height: 31px;
	background: transparent url(../images/bandeau.png) left top no-repeat;
	
	margin-top: -20px;
	margin-left:-19px;
	
	position: relative;
	color: rgb(236,235,232);
	text-align: center;
	padding-top: 13px;
}
.one-article .article-category img{
	position: absolute;
	top: -6px;
	left: 0;
}
.one-article .article-tags {
	margin-left: 20px;
	margin-top: 10px;
}
.one-article .article-tag{
	padding: 4px 10px;
	font-style: italic;
	background-color: rgb(227,223,223);
	
	margin-right: 5px;
}

/** SIDEBAR **/
aside{
	width: 298px;
	float: left;
		padding: 20px;
}
aside .aside-box{
	background-color: #fff;
	margin-bottom: 10px;
	position: relative;
}
aside #social-box {
	padding: 10px 0;
}
aside #social-box a {
	float: left;
	display: block;
	width: 65px;
	margin-left: 8px;
	color: #335681;
}

aside #social-box a img{
	display: block;
	margin-bottom: 10px;
}
#news-box{
	padding: 10px 5px 50px 5px;
}
.one-news{
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 16px;
}
