#subscription-page .left-column{
    float: left;
    width: 470px;
}
#subscription-page .right-column{
    float: right;
    width: 470px;
}
#subscription-page #explanation-text-page{
    float: none;
    text-align: justify;
    margin: 20px 0 30px 0;
}

/** form **/
#subscription-page #register-form h2{
    font-family: 'Segoe UI light';
    font-size: 18px;
    color: #333;
}
