#tag-page .middle-column > .border-title{
    height: auto;
    background: transparent url(../images/border.png) left 18px repeat-x;
}
#tag-page .middle-column > .border-title > .left-title{
    font-size: 34px;
    height: auto;
    padding-top: 0;
    color: rgb(51,86,129);
}
#tag-page .middle-column h4{
    margin-top: 10px;
    font-size: 16px;
}
#tag-page aside{
    padding-right: 0;
    float: right;
    padding: 13px;
}
.black{
    color: #111 !important;
}
#tag-page aside .article-tag {
    padding: 10px 10px;
    background-color: rgb(227,223,223);
    margin-right: 0;
    margin-bottom: 5px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    display: block;
}