/* FONT FAMILY LINKAGE */
@font-face
{
    font-family: "Segoe UI";
    src: url("Segoe UI.ttf");
}
@font-face
{
    font-family: "Lucida Grande";
    src: url("Lucida Grande.ttf");
}
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}
input::-webkit-input-placeholder {
    font-size: 16px;
    color: #bbb;
    font-family: 'Segoe UI', tahoma, verdana, arial;
}
input:-moz-placeholder {
    font-size: 16px;
    color: #bbb;
    font-family: 'Segoe UI', tahoma, verdana, arial;
}

/* Our Css */
body {
    font-size: 100%;
    font-family: 'Segoe UI','Lucida Grande', tahoma, verdana, arial, sans-serif; 
    color: #4b483a;
    background: #E5E5E5;
}
h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}
a:link, a:visited { color: #4b483a; text-decoration: underline; }
a:hover { text-decoration: none; }

#box {
    margin: 48px auto;
    margin-top: 100px;
    color: gray;
    text-align: center;
    text-shadow: 0px 1px 0px white;
    position: relative;
}

#box h1 {
    display: block;
    margin: auto;
    margin-bottom: 25px;
    font-size: 7em;
    font-family: 'Lucida Grande';
    color: black;
    background: #E5E5E5;
    width: 640px;
}

#box #contact {
    margin: auto;
    overflow: hidden;
    width: 350px;
    border: 1px solid gray;
    border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 38px;
}

#box #send-message {
    display: block;
    padding: 9px;
    color: rgb(22,49,77);
}

#box #error-message {
    display: block;
    padding: 9px;
    color: #851126;
}

#box #contact #sender {
    cursor: pointer;
    font-size: 2em;
    text-align: center;
    float: right;
    width: 38px;
    height: 38px;
    background: #444;
    color: white;
    text-shadow: none;
    
    border: 1px solid gray;
    border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    
    transition-property: all;
    transition-duration: 0.5s;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.5s;
    -o-transition-property: all;
    -o-transition-duration: 0.5s;
}
#box #contact #sender:hover {
    background: #333;
}
#box #contact #sender:active{
    border: none;
}
#box #contact #input {
    background: white;
    height: 38px;
    float:right;
    width: 310px;
}
#box #contact #input form {
    height: 100%;
    width: 100%;
}
#box #contact #input input {
    font-size: 16px;
    font-family: 'Segoe UI';
    width: 290px;
    height: 100%;
    border:none;
    padding: 0 10px 10px 10px !important;
    
        box-shadow: inset 4px 4px 15px rgba(0,0,0,0.6);
    -webkit-box-shadow:inset 4px 4px 15px rgba(0,0,0,0.6);
    -moz-box-shadow: inset 4px 4px 10px rgba(0,0,0,0.6);
    -o-box-shadow: inset 4px 4px 10px rgba(0,0,0,0.6);
    -ms-box-shadow: inset 4px 4px 10px rgba(0,0,0,0.6);
}

/** Footer **/
#footer img{
    width: 28px;
    vertical-align: middle;
}
#footer a.image{
    border: none;
    text-decoration: none;
}