/* FONT FAMILY LINKAGE */
@font-face
{
    font-family: "Segoe UI";
    src: url("Segoe UI.ttf");
}
@font-face
{
    font-family: "Lucida Grande";
    src: url("Lucida Grande.ttf");
}
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}
input::-webkit-input-placeholder {
    font-size: 16px;
    color: #bbb;
    font-family: 'Segoe UI', tahoma, verdana, arial;
}
input:-moz-placeholder {
    font-size: 16px;
    color: #bbb;
    font-family: 'Segoe UI', tahoma, verdana, arial;
}

/* Our Css */
body {
    min-width: 640px;
    font-size: 100%;
    font-family: 'Segoe UI','Lucida Grande', tahoma, verdana, arial, sans-serif; 
    color: #4b483a;
    background: #E5E5E5 url(../images/bg.png) left top;
}
h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}
a:link, a:visited { color: #4b483a; text-decoration: underline; }
a:hover { text-decoration: none; }

#box {
    margin: 48px auto;
    margin-top: 100px;
    color: gray;
    text-align: center;
    text-shadow: 0 2px 2px white;
    position: relative;
}

#box h1 {
    display: block;
    margin: auto;
    margin-bottom: 25px;
    font-size: 7em;
    font-family: 'Lucida Grande';
    color: Black;
    width: 640px;
    background: #E5E5E5 url(../images/bg.png) left top;
}

#box #newsletter {
    margin: 20px auto;
    overflow: hidden;
    width: 350px;
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #adadad;
    border-left: 1px solid #adadad;

    
    border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    
    box-shadow: 0 1px 2px #ADADAD;
}

#box #content {
    text-align: left;
    overflow: hidden;
    border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

#box #send-message {
    display: block;
    padding: 8px;
    color: white;
    text-shadow: 0px 1px 0px #410002;
}

#box #error-message {
    display: block;
    padding: 8px;
    color: white;
    text-shadow: 0px 1px 0px #410002;
}

#box #sender {
    position: relative;
    color: white;
    height: 36px;
    background: #851126;
    width: 48px;
    line-height: 26px;
    float: right;
    cursor: pointer;
    font-size: 1.5em;
    text-align: center;
    
    padding-top: 2px;
    
    text-shadow: none;
    
    margin-bottom: -4px;
    
    box-shadow: inset 0 -4px 4px #630014;
    -webkit-box-shadow: inset 0 -4px 4px #630014;
    -moz-box-shadow: inset 0 -4px 4px #630014;
    -o-box-shadow: inset 0 -4px 4px #630014;


    border: 1px solid #630014;
    border-top-right-radius: 4px;
    -o-border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -o-border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    
    transition-property: all;
    transition-duration: 0.5s;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.5s;
    -o-transition-property: all;
    -o-transition-duration: 0.5s;
}
/*
#box #sender:after{
    content: "";
    height: 10px;
    width: 50px;
    display: block;
    background: #410002;
    
    position: absolute;
    bottom: 0;
    left: 0;
    
    box-shadow: 0 -2px 2px #630014,
		inset 0 2px 2px #630014;
    -webkit-box-shadow: 0 -2px 2px #630014,
		inset 0 2px 2px #630014;
    -moz-box-shadow: 0 -2px 2px #630014,
		inset 0 2px 2px #630014;
    -o-box-shadow: 0 -2px 2px #630014,
		inset 0 2px 2px #630014;
    -ms-box-shadow: 0 -2px 2px #630014,
		inset 0 2px 2px #630014;

    
    border-top: 1px solid #630014;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -o-border-bottom-right-radius: 4px;
}
*/
#box #sender:hover {
    border: 1px solid #410002;
    background: #630004;
    
    box-shadow: inset 0 -4px 4px #410002;
    -webkit-box-shadow: inset 0 -4px 4px #410002;
    -moz-box-shadow: inset 0 -4px 4px #410002;
    -o-box-shadow: inset 0 -4px 4px #410002;
}
/*
#box #sender:hover:after {
    border-top: 1px solid #520003;
    

    box-shadow: 0 -2px 2px #520003,
		inset 0 2px 2px #520003;
    -webkit-box-shadow: 0 -2px 2px #520003,
		inset 0 2px 2px #520003;
    -moz-box-shadow: 0 -2px 2px #520003,
		inset 0 2px 2px #520003;
    -o-box-shadow: 0 -2px 2px #520003,
		inset 0 2px 2px #520003;
    -ms-box-shadow: 0 -2px 2px #520003,
		inset 0 2px 2px #520003;

}
*/
#box #sender:active{
    box-shadow: inset 0 5px 5px #410002;
    -webkit-box-shadow: inset 0 5px 5px #410002;
    -moz-box-shadow: inset 0 5px 5px #410002;
    -o-box-shadow: inset 0 5px 5px #410002;
    -ms-box-shadow: inset 0 5px 5px #410002;
}
/*
#box #sender:active:after{
    height: 0;
    display:none;
}
*/
#box input {
    margin: 0px;
    border: none;
    font-size: 16px;
    padding: 4px 8px 8px 8px;
    width: 284px;
    height: 28px;
    outline: none;
    background: white;
}
/** Header **/
.header-bar{
    position: absolute;
    z-index: -1;
    top: 35px;
    left: 0px;
    width: 100%;
    height: 25px;
    background: #851126;
}
.darken{
    height: 10px;
    top: 60px;
    background: #630004;
}

#barre-middle {
    z-index: 999999;
    position: absolute;
    top: 35px;
    height: 35px;
    width: 100%;
    border-radius: 0px 2px 2px 0;
}

#barre-middle-content {
    width: 640px;
    margin: auto;
    height: 35px;   
}

#corner-left {
    float: left;
    overflow: hidden;
    height: 35px;
    width: 10px;
    border-radius: 0px 4px 4px 0px;
    background: url(../images/barre.jpg);  
}

#corner-right {
    float: right;
    overflow: hidden;
    height: 35px;
    width: 10px;
    border-radius: 4px 0px 0px 4px;
    background: url(../images/barre.jpg);  
}

.bar-corner {
    height: 25px;
    background: #851126;
}

.bar-corner-dark {
    height: 10px;
    background: #630004;
}

/** Footer **/
#footer img{
    width: 28px;
    vertical-align: middle;
}
#footer a.image{
    border: none;
    text-decoration: none;
}